.paginator
  .paginator__button
    cursor: pointer
    width: 32px
    height: 32px
    border: 1px solid black

    display: flex
    align-items: center
    justify-content: center

    i
      font-size: 36px
      
  .paginator__next
    border-left: none
    border-right: none

  .paginator__left
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px

  .paginator__right
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px

  .paginator__page
    font-weight: 600
    font-size: 24px