.paginator
  .paginator__button
    cursor: pointer

    display: flex
    align-items: center
    justify-content: center
    padding: 8px
    i
      font-size: 18px
      margin: 4px

  .paginator__left
    &:hover
      background: #efefef
      border-radius: 40px

  .paginator__right
    &:hover
      background: #efefef
      border-radius: 40px

  .paginator__page
    font-weight: 600
    font-size: 24px
    color: white
    border-radius: 2px
    background: #3b5998