.eu
  width: 256px
  height: 256px
  border-radius: 4px

.workana-hero
  width: 32px
  height: 32px

.hoverable
  cursor: pointer

.about-link
  text-decoration: none
  color: black

.dimension-m-title
  margin-bottom: 8px

.dimension-m
  margin-right: 8px