.post-preview
  .post-preview__image
    width: 30%
    min-width: 128px
    .post-preview__image__place
      background-size: cover
      background-position: center
      width: 100%
      min-height: 128px

  .post-preview__data
    position: relative
    .post-preview__data__title
      font-size: 24px
      font-weight: 600

    .post-preview__data__tags
      font-style: italic
      font-weight: 600
      cursor: pointer

    .post-preview__data__postedBy
      span
        font-weight: 600
        cursor: pointer